<div class="container-fluid">
    <div class="row mt-5">
        <h1 class="text-center m-0">Login</h1>
    </div>
    <div class="col mt-3 p-4">
        <div *ngIf="successMessage" class="alert alert-success" role="alert">
            {{ successMessage }}
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
        </div>
        <form #loginForm="ngForm" name="loginForm" (ngSubmit)="onSubmit(loginForm);">
            <div class="form-group m-0">
                <label for="username" class="form-label">Username</label><br>
                <input type="text" name="username" class="form-control" id="username" ngModel required [(ngModel)]="username">
            </div>
            <div class="space"></div>
            <div class="form-group m-0">
                <label for="password" class="form-label">Password</label><br>
                <input type="password" name="password" id="password" class="form-control" ngModel required [(ngModel)]="password"><br>
            </div>
            <a (click)="closeDialog()" routerLink="/create-account">
                No account? Create one.</a><br>
            <div class="space"></div>
            <div class="btn btn-group m-0 p-0 d-flex justify-content-center">
                <input type="reset" class="btn">
                <div class="btn-space"></div>
                <input type="submit" class="btn">
            </div>

        </form>
    </div>
</div>