<div class="container-fluid">
    <div class="row text-center">
        <h1 style="font-size: 40px;">Requests</h1>
    </div>
    <div class="row mt-5">
        <form>
            <div class="col d-flex justify-content-center">
                <fieldset class="p-4">
                    <div class="col mt-4 table-responsive d-flex justify-content-center">
                        <table>
                            <tr>
                                <th class="text-info">Name</th>
                                <td>
                                    <span id="studname" class="text-light">Aymen Ben Mariem</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-info">Email</th>
                                <td>
                                    <span id="studemail" class="text-light">benmariema@gmail.com</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-info">Field of study</th>
                                <td><span id="studgrade" class="text-light">GLSI</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="space"></div>
                    <div class="col">
                        <div class="col d-flex flex-column">
                            <label for="studthoughts" class="text-info fw-bold">Student thoughts</label>
                        </div>
                        <div class="row">
                            <textarea id="studthoughts"></textarea>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row mt-4">
                <div class="col d-flex justify-content-center">
                    <a href="something" class="btn btn-secondary">Reject</a>
                    <div class="me-4"></div>
                    <a href="something" class="btn btn-primary">Accept and send email</a>
                </div>
            </div>
        </form>
    </div>
</div>