<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="mt-5 bigh1 mb-5">Create Account</h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4 flex-column">
      <form>
        <div class="form-group">
          <label for="fullname"><i>Full Name</i></label>
          <input class="form-control" type="text" id="fullname">
        </div>
        <div class="form-group">
          <label for="email" class="mt-2"><i>Email Address</i></label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="col-6 flex-column">
          <div class="form-group">
            <label for="fieldofstudy" class="mt-2"><i>Field of study</i></label>
            <select class="form-control form-select" id="fieldofstudy">
              <option value="" selected disabled></option>
              <option>GLSI</option>
              <option>IOT</option>
              <option>LAII</option>
              <option>LISI</option>
              <option>LT</option>
              <option>LISR</option>
              <option>LSE_IOT</option>
            </select>
          </div>
        </div>
        <div class="col-6 flex-column">
          <label class="form-check-label mt-3 mb-2"><i>You are a</i></label>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="radio1" name="role" value="Student">
            <p>Student</p>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="radio2" name="role" value="Club Member">
            <p>Club Member</p>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="radio3" name="role" value="Club Manager">
            <p>Club Manager</p>
          </div>
        </div>
        <hr class="mt-5 mb-4" style="color: #fed313;">
        <div class="row mb-4 mt-5">
          <div class="col-6">
            <h1>Login Info</h1>
          </div>
        </div>
        <div class="row">
          <div class="col flex-column">
            <div class="form-group">
              <label for="username"><i>Username</i></label>
              <input type="text" class="form-control" id="username">
            </div>
            <div class="form-group">
              <label for="password" class="mt-2"><i>Password</i></label>
              <input type="password" class="form-control" id="password">
            </div>
            <div class="form-group">
              <label for="confirmpass" class="mt-2"><i>Confirm Password</i></label>
              <input type="password" class="form-control" id="confirmpass">
            </div>
          </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col-6">
            <button type="reset" class="btnreset">
              <span>Reset</span>
            </button>
          </div>
          <div class="col-6">
            <button type="submit" class="btnsubmit">
              <span>Submit</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>