<div class="container">
    <div class="titles text-center">
        <strong>Upcoming Competitions</strong>
    </div>
    <app-upcoming-comp></app-upcoming-comp>
</div>
<div class="container">
    <div class="titles text-center">
        <strong>On-going Competition</strong>
    </div>
    <app-on-going-comp></app-on-going-comp>
</div>
<div class="container">
    <div class="titles text-center">
        <strong>Old Competitions</strong>
    </div>
    <app-old-competition></app-old-competition>
</div>