<!--<p>Clubs in universities are organizations that bring together students with shared
                                interests,
                                goals, or
                                backgrounds. They provide an avenue for students to connect with like-minded
                                individuals,
                                develop
                                new
                                skills, and engage in activities outside of their academic studies. Clubs cover a
                                wide
                                range
                                of
                                areas,
                                from sports, arts, and music to social, cultural, and academic pursuits. Joining a
                                club
                                is
                                important
                                for
                                students as it can enhance their university experience by providing a sense of
                                community,
                                fostering
                                friendships, and building leadership and teamwork skills. Clubs also offer
                                opportunities
                                to
                                network,
                                volunteer, and engage with the wider community, which can enrich a student's
                                personal
                                and
                                professional
                                development. Whether it's learning a new language, playing a sport, or advocating
                                for a
                                cause,
                                there's a
                                club out there for every student, and joining one can be a rewarding and fulfilling
                                experience.</p>-->
<div class="row">
    <div class="col-4 text-center">
        <img src="assets/images/logo IGC.jpg" alt="logo IGC">
        <h2>ISTIC Google <br>Club</h2>
        <p>Manager: Manager Name
            <br>
            Rating: 8.5/10
        </p>
        <button class="btn"><span>View details &raquo;</span></button>
    </div>
    <div class="col-4 text-center">
        <img src="assets/images/logo IEEE.jpg" alt="logo IEEE">
        <h2>IEEE ISTIC Student <br>Branch</h2>
        <p>Manager: Manager Name
            <br>
            Rating: 8.5/10
        </p>
        <button class="btn"><span>View details &raquo;</span></button>
    </div>
    <div class="col-4 text-center">
        <img src="assets/images/logo UNIVERSE.jpg" alt="logo UNIVERSE">
        <h2>UNIVERSE ISTIC <br>Club</h2>
        <p>Manager: Manager Name
            <br>
            Rating: 8.5/10
        </p>
        <button class="btn"><span>View details &raquo;</span></button>
    </div>
</div>