<div class="d-flex justify-content-center">
    <div class="card">
        <div class="card-header">
            <div class="col-sm-6 text-center d-flex align-items-center justify-content-center">
                <h1><span>Old Competition Name</span></h1>
            </div>
            <div class="col-sm-6">
                <div class="rankings">
                    <div class="blocks">
                        <img src="assets/images/logo IGC.jpg" alt="logo">
                        <div class="p-2">
                            <div class="rank text-center">
                                <p>1</p>
                            </div>
                        </div>
                    </div>
                    <div class="blocks">
                        <img src="assets/images/logo UNIVERSE.jpg" alt="logo">
                        <div class="p-2">
                            <div class="rank text-center">
                                <p>2</p>
                            </div>
                        </div>
                    </div>
                    <div class="blocks">
                        <img src="assets/images/logo IEEE.jpg" alt="logo">
                        <div class="p-2">
                            <div class="rank text-center">
                                <p>3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="form-group">
                <label class="form-label" for="date"><strong>Date: </strong></label>
                <input type="text" class="form-control dateinput" id="date" disabled value="dd/mm/yyyy">
            </div>
            <div class="container d-flex justify-content-center flex-column mt-5">
                <div class="group">
                    <div class="p-2">
                        <div class="rank text-center bodyrank">
                            <p>1</p>
                        </div>
                    </div>
                    <input type="text" disabled class="form-control" value="ISTIC Google Club">
                </div>
                <div class="group">
                    <div class="p-2">
                        <div class="rank text-center bodyrank">
                            <p>2</p>
                        </div>
                    </div>
                    <input type="text" disabled class="form-control" value="ISTIC Universe Club">
                </div>
                <div class="group">
                    <div class="p-2">
                        <div class="rank text-center bodyrank">
                            <p>3</p>
                        </div>
                    </div>
                    <input type="text" disabled class="form-control" value="IEEE ISTIC Student Branch">
                </div>
            </div>
        </div>
    </div>
</div>