<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 text-center d-inline-flex flex-column">
            <h1>My Club Life</h1>
        </div>
    </div>
    <div class="row mt-5 p-4">
        <div class="col-md-11 col-sm-8 col">
            <p><span class="welcome">Welcome</span> to My Club Life, the ultimate web app for
                diving into the club experience of your choice!
                Our platform provides an all-in-one solution for club related topics such as member
                recruitment,
                participating in events and overall club performance.<br>

                With<span> My Club Life</span>, you can easily discover clubs in your
                university, rate and review them if you
                are already a member, and participate with your club in yearly planned competitions. Our
                evaluation system ensures the discovery of the true levels of clubs comparing to each other
                in
                the social and student life, considering criteria like club size, activities and events.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button class="btn" (click)="openDialog()"><span>Login</span></button>
        </div>
    </div>
</div>