body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
body{ background: linear-gradient(178.1deg, rgba(21, 53, 149, 0.436) 8.5%, rgb(14, 12, 60) 50.4%);}
a { font-size: 25px;}

button {margin:10px; border-radius: 20px; background-color: rgba(22, 13, 60, 0.792); border: none;
        text-align: center; color: rgb(255, 255, 255); width: 130px; height: auto;}
button:hover{
    background-color: rgba(49, 63, 86, 0.195);
}


.container {display: flex; justify-content: center; margin-top: 80px;}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.layout { display: flex; justify-content: center; justify-content: space-around; 
    background: linear-gradient(109.6deg, rgba(51, 65, 84, 0.573) 11.2%, rgba(27, 20, 71, 0.858) 51.2%, rgba(13, 13, 13, 0.474) 98.6%); }
