<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section>
        <div class="container-fluid">
            <div class="row ms-5">
                <div class="row me-5">
                    <div class="col">
                        <div class="row mt-5">
                            <div class="col mt-3 mb-4">
                                <h1 class="mt-5 bigh1 mb-5">Clubs</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <div class="row mt-4">
                                <div class="col-6">
                                    <h2>Discover <span>clubs</span> in ISTIC</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="dropdown">
                                        <button class="dropbtn" (click)="toggleDropdown()">Click to show all registered
                                            clubs</button>
                                        <div class="dropdown-content" *ngIf="isDropdownOpen">
                                            <a href="#">ISTIC Google Club</a>
                                            <a href="#">IEEE ISTIC Student Branch</a>
                                            <a href="#">Enactus ISTIC</a>
                                            <a href="#">Universe ISTIC</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row mt-4">
                            <div class="row">
                                <div class="col-6">
                                    <h2>What is a <span>club</span> ?</h2>
                                </div>
                            </div>
                            <div class="col-6">
                                <p>Clubs in universities are organizations that bring together students with shared
                                    interests,
                                    goals, or
                                    backgrounds. They provide an avenue for students to connect with like-minded
                                    individuals,
                                    develop
                                    new
                                    skills, and engage in activities outside of their academic studies. Clubs cover a
                                    wide
                                    range
                                    of
                                    areas,
                                    from sports, arts, and music to social, cultural, and academic pursuits. Joining a
                                    club
                                    is
                                    important
                                    for
                                    students as it can enhance their university experience by providing a sense of
                                    community,
                                    fostering
                                    friendships, and building leadership and teamwork skills. Clubs also offer
                                    opportunities
                                    to
                                    network,
                                    volunteer, and engage with the wider community, which can enrich a student's
                                    personal
                                    and
                                    professional
                                    development. Whether it's learning a new language, playing a sport, or advocating
                                    for a
                                    cause,
                                    there's a
                                    club out there for every student, and joining one can be a rewarding and fulfilling
                                    experience.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>